{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New Page</h1>
    <br>
    <form action="{% url 'enc:create' %}" method="post">
        {% csrf_token %}
        <label><h5>Title:</h5></label><br>
        <input type="text" name="title">
        <br><br>
      <div class="form-group">
      <label for="content"><h5>Content:</h5></label>
      <textarea class="form-control" rows="15" name="content" id="content"></textarea>
      </div>
        <input type="submit" class="btn btn-primary" name="submit" value="Save">
    </form>

{% endblock %}
